:root {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #fafafa;
}

.container {
  display: flex;
    width: 935px;
}


.topo {
    height: 54px;
    width: 1366px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
}

.logo img {
    height: 29px;
    width: 103px;


}

.icon-topo {
 
}

ion-icon {
    font-size: 22px;
    padding: 20px;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.stories {
    width: 614px;
    max-height: 118px;
    margin-top: 88px;
    margin-left: 215px;
    border: 1px solid #DBDBDB;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 24px;
    background-color: #ffffff;

}

.icon-stories {
    display: flex;
    margin-left: 23px;
}

.stories img {
    width: 56px;
    height: 56px;
    padding: 6px;
}

.user-stories {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 14.06px;
    font-stretch: extra-condensed;
    color: #262626;
}

.user-post {
    width: 614px;
    height: 717px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    margin-left: 215px;
    border-radius: 3px;
    background-color: #ffffff;
}

.user-post a {
    text-decoration: none;
    color: #262626;
}
.user-post a img {
    width: 612px;
    height: 612px;
}

#user {
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

.user-id {
    display: flex;
    align-items: center;
    height: 61px;
    margin-left: 17px;
}

.user-id p {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    line-height: 16.41px;
}

.post {
    margin-bottom: 60px;

}

.icon-post {
    display: flex;
    font-size: 22px;
    justify-content: space-between;

}

.react {
    margin-top: -10px;
    margin-left: 15px;
}

.save {
    margin-top: -10px;
    margin-right: 17.62px;
}

.siderbar {
width: 293px;
margin-left: 85px;
margin-top: 111px;
}

.catana a{
    display: flex;
    justify-content: space-between;
    text-decoration: none;

}

.catana h1 {
    font-size: 14px;
    color: #000000;
   
}
.catana img {
    height: 56px;
    width: 56px;
    border-radius: 28px;
}