@import url(font/Harabara\ Mais\ Demo.otf);
:root {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    height: 100px;
    width: 100vw;
    background-color: #FFE600;
}

.superior {
    display: flex;
    align-items: center;
    justify-content: center;

}

.topo a img {
    height: 35px;
    padding: 10px;

}

.pesquisa {
    height: 35px;
    width: 500px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-right: 1px solid #bebebe;
    box-shadow: 1px 1px 3px rgba (0, 0, 0, 0,385);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 3px;
}

.pesquisa ion-icon {
    margin-left: 5px;
    font-size: 18px;
    color: #bebebe;
    padding: 0 8px;
}

#pesquisa {
    height: 30px;
    width: 460px;
    border: none;
    outline: none;
    border-right: 1px solid #e0dddd;
    margin-left: 15px;
    font-size: 14px;

}

.meli a img{
    height: 35px;
}

.inferior {
 
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

button {
    display: flex;
    background-color: #FFE600;
    border: none;
}

button ion-icon {
    font-size: 22px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu ul li a{
    font-size: 12px;
    list-style: none;
    margin-left: 20px;
    text-decoration: none;
    color: #181712;

}

.user {
    margin-left: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.user a {
    font-size: 12px;
    list-style: none;
    margin-left: 10px;
    text-decoration: none;
    color: #181712;
    
}

.user ion-icon {
    margin-left: 20px;
    font-size: 22px;
}
main {
    height: 100vh;
    max-width: 100vw;
}



.propaganda {
    background-color: #f3efef;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box {
    background-color: #fff;
    height: 350px;
    width: 250px;
    margin-left: 20px;
    border-radius: 10px;
    
}

.box h1 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.box i {
    font-size: 100px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.box p {
 font-size: 14px;
 text-align: center;
 padding: 20px;
}

.box p:hover {
    color: #3483FA;
}

.box button {
    background-color: #C9DEF9;
    color: #3483FA;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
    padding: 10px;

}

.box button:hover {
    background-color: #95bbf5ab;
}

.ofertas {
    max-width: 100vw;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 60px;
    
}

.oferta-do-dia {
    background-color: #fff;
    height: 480px;
    max-width: 310px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid #181712;
    border-radius: 10px;
}

.oferta-do-dia h1 {
    font-size: 20px;
}
.oferta-do-dia img {
   height: 260px;
}

.oferta-do-dia h4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5px;
}


.oferta-do-dia p {
    margin-top: 1px;
    margin-bottom: 5px;
}

.preco {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.frete,
.divide {
    font-size: 14px;
}

.ofertas-sempre {
    height: 480px;
    width: 900px;
    margin-left: 20px;
    border: 1px solid #181712;
    border-radius: 10px;

    padding: 20px;
    display: flex;
    flex-direction: column;

}

.ofertas-txt {
    display: flex;
    align-items: center;
}

.ofertas-txt h1 {
    font-size: 20px;
    margin-right: 20px;
}

.ofertas-txt p {
    font-size: 14px;
}
.selecao {
    display: flex;
}
.produtos {
    height: 380px;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}
 
.produtos img {
    height: 250px;
    width: 250px;
}


.produtos h4 {
    font-weight: 200;
    font-size: 16px;
    margin-bottom: 5px;
}

.produtos p {
    margin-top: 1px;
    margin-bottom: 5px;
}

.logo-meli {
    background: linear-gradient(45deg #5C238D; #A91192);
}
footer {
    height: 54px;
    width: 100vw;

    background-color: beige;
}

/*
#5C238D
#A91192*/